.git
.vs
aws
misc
test

.dockerignore
.gitignore
.gitattributes
.editorconfig

**/bin
**/obj
*.sln.DotSettings
*.md
*.txt
*.yml

src
!src/TennisBookings.ScoreProcessor
!src/TennisBookings.ResultsProcessing